<%- include('./partials/head'); -%>
<%- include('./partials/navbar') -%>
<%- include('./partials/titrePrincipal'); -%>

<script  src="js/profil.js" defer></script>
<div class="container">
    <form action="/users/login" method="post" name="form1" class="box">
      <h4>BIEN<span>VENUE</span></h4>
      <h5>Votre Profil.</h5>
      <div class="user one">
        </div>
        <!-- <i class="typcn typcn-eye" id="eye"></i> -->
        <div><span class="profilInfo"> Prénom: </span ><span class="profilInfo"><%= infoProfil.name %></span></div>
        <div><span class="profilInfo">Email :</span ><span class="profilInfo"><%= infoProfil.email %></span></div> 
      </form>
  </div> 
  <%- include('./partials/footer'); -%>
