<%- include('./partials/head'); -%>
<%- include('./partials/navbar') -%>
<%- include('./partials/header'); -%>

<div>
    <div class="oneSpot">
        <label class="oneSpotLabel">
            Nom :
        </label><span><%= info.name %></span><br>
        <label class="oneSpotLabel">
            Description :
        </label><span><%= info.description %></span><br>
        <label class="oneSpotLabel">
            Adresse :
        </label><span><%= info.address %></span><br>
        <label class="oneSpotLabel">
            Difficulté :
        </label><span><%= info.difficulty %></span><br>
        <label style="color: black;">
            Coordonnées :
        </label><span><%= info.coordinates %></span>
        <form method="get" action="/"><input type="submit" class="btnSpots" value="Spots"></form>
    </div>
</div>
<%- include('./partials/footer'); -%>

