<%- include('./partials/head'); -%>
<%- include('./partials/navbar') -%>
<%- include('./partials/header'); -%>

<div>
    <div class="oneSpot">
        <label class="oneSpotLabel">
            <%= info.name %>
        </label><br>
        <label class="oneSpotLabel">
            <%= info.description %>
        </label><br>
        <label class="oneSpotLabel">
            <%= info.address %>
        </label><br>
        <label class="oneSpotLabel">
            <%= info.difficulty %>
        </label><br>
        <label style="color: black;">
            <%= info.coordinates %>
        </label>
        <form method="get" action="/"><button type="submit" class="btn6">Spots</button></form>
    </div>
</div>
<%- include('./partials/footer'); -%>

