<%- include('./partials/head'); -%>
<%- include('./partials/navbar') -%>
<%- include('./partials/header'); -%>

<% page = Number(page); %>

<div class="center">
    Page <%= page %>
</div>
<div class="center">
    <% if(page>1) { %>
    <form action="/" method="get">
        <input type="hidden" name="page" value="<%= page-1 %>">
        <input type="submit" class="btn btnLarge" value="Revernir à la page <%= page-1 %>">
    </form>
    <% } %>
    <% if(page<totalPages) { %>
    <form action="/" method="get">
        <input type="hidden" name="page" value="<%= page+1 %>">
        <input type="submit" class="btn btnLarge" value="Aller à la page <%= page+1 %>">
    </form>
    <% } %>
</div>

<div class="center">
    <div class="spots">
        <% spots.forEach(spot => { %>
        <div class="spots-item">
            <div>
                <div class="spots-information">
                    <h2><%= spot.name %></h2>
                    <p>Description: <%= spot.description %></p>
                    <p>Addresse: <%= spot.address %></p>
                    <p>Difficulté: <%= spot.difficulty %></p>
                    <p>Coordonnées: <%= spot.coordinates %></p>
                </div>
                <div class="spots-image">
                    <a href="https://cypress-acidic-chard.glitch.me/?pic=<%= spot._id %>">
                        <img src="https://cypress-acidic-chard.glitch.me/?thumbnail=<%= spot._id %>">
                    </a>
                </div>
            </div>
            <div class="spots-buttons">
                <form action="/spots/delete/<%= spot._id %>?_method=delete" method="post" style="width:auto;">
                    <button class="btn btnSmall">Supprimer</button></form>
                <form action="/spots/update/<%= spot._id %>?" method="get" style="width:auto;"><button
                        class="btn btnSmall">Modifier</button></form>
                <form action="/spots/<%= spot._id %>" method="get" style="width:auto;"><button
                        class="btn btnSmall">Information</button></form>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<div class="center">
    <% if(page>1) { %>
    <form action="/" method="get">
        <input type="hidden" name="page" value="<%= page-1 %>">
        <input type="submit" class="btn btnLarge" value="Revernir à la page <%= page-1 %>">
    </form>
    <% } %>
    <% if(page<totalPages) { %>
    <form action="/" method="get">
        <input type="hidden" name="page" value="<%= page+1 %>">
        <input type="submit" class="btn btnLarge" value="Aller à la page <%= page+1 %>">
    </form>
    <% } %>
</div>
<div class="center">
    Page <%= page %>
</div>

<%- include('./partials/footer'); -%>