<%- include('./partials/head'); -%>
<%- include('./partials/navbar') -%>
<%- include('./partials/header'); -%>

<div style="display:flex; justify-content:center;">
    <% page = Number(page); if(page>1) { %>
        <form action="/" method="get">
            <input type="hidden" name="page" value="<%= page-1 %>">
            <input type="submit" class="btnPrevious" value="Page Précédente">
        </form>
    <% } %>
    <% if(page<totalPages) { %>
        <form action="/" method="get">
            <input type="hidden" name="page" value="<%= page+1 %>">
            <input type="submit" class="btnNext" value="Page Suivante">
        </form>
    <% } %>
</div>
<%- include("partials/messages") -%>
<div style="display: flex; justify-content: center;">
    <div class="listeSpots">
        <% spots.forEach(spot => { %>
        <div class="spots-list" style="padding:20px;">
            <div style="display:flex; flex-direction:row-reverse; flex-wrap: wrap; justify-content: flex-end;">
                <div class="spots-information">
                    <h2><%= spot.name %></h2>
                    <p style="min-width:300px; max-width:600px;">Description: <%= spot.description %></p>
                    <p>Addresse: <%= spot.address %></p>
                    <p>Difficulté: <%= spot.difficulty %></p>
                    <p>Coordonnées: <%= spot.coordinates %></p>

                </div>
                <div class="img-spotlist">
                    <a href="https://cypress-acidic-chard.glitch.me/?pic=<%= spot._id %>">
                    <img src="https://cypress-acidic-chard.glitch.me/?thumbnail=<%= spot._id %>">
                    </a>
                </div>
            </div>
            <div>
                <div class="btn-spotlist" style="display:flex; flex-wrap:wrap; justify-content: space-between;">
                    <form action="/spots/delete/<%= spot._id %>?_method=delete" method="post" style="width:auto;"><button
                            class="btn-default">Supprimé</button></form>
                    <form action="/spots/update/<%= spot._id %>?" method="get" style="width:auto;"><button
                            class="btn-default">Modifié</button></form>
                    <form action="/spots/<%= spot._id %>" method="get" style="width:auto;"><button
                            class="btn-default">Information</button></form>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include('./partials/footer'); -%>
