<%- include('./partials/head'); -%>
<%- include('./partials/navbar') -%>
<%- include('./partials/header'); -%>

<div class="container">
    <%- include("partials/messages") -%>
    <form action="/spots/create" method="post" class="box">
        <input type="text" name="name" placeholder="Nom du Spot">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="address" placeholder="Adresse">
        <input type="text" name="difficulty" placeholder="Dificulté">
        <input type="text" name="coordinates" placeholder="Coordinates">
        <input type="submit" class="btnCreate" value="Créer">
        <!-- <style>
            .alert {
                top:78%;
                width:336px;
            }
        </style>         -->
    </form>
    <form method="get" action="/"><input type="submit" class="btnSpots" value="Spots"></form>
</div>
<%- include('./partials/footer'); -%>
