<h1><%= name %></h1>

<div style="display: flex; justify-content: center;">
    <div class="listeSpots" style="background-color:rgba(255,255,255,0.40);">
        <% spots.forEach(spot => { %>
        <div style="padding:20px;">
            <div style="display:flex; flex-direction:row-reverse; flex-wrap: wrap; justify-content: flex-end;">
                <div style="padding:9px 30px 0px 30px;">
                    <h2 style="margin-top:0px;"><%= spot.name %></h2>
                    <p style="min-width:300px; max-width:600px;">Description: <%= spot.description %></p>
                    <p>Addresse: <%= spot.address %></p>
                    <p>Difficulté: <%= spot.difficulty %></p>
                    <p>Coordonnées: <%= spot.coordinates %></p>
                    <%= deleteFaile %>
                </div>
                <div style="padding:10px 5px;">
                    <a href="https://cypress-acidic-chard.glitch.me/?pic=<%= spot._id %>">
                    <img src="https://cypress-acidic-chard.glitch.me/?thumbnail=<%= spot._id %>" alt="thumbnail"
                        style="width:320px;height:200px;">
                    </a>
                </div>
            </div>
            <div>
                <div style="display:flex; flex-wrap:wrap; justify-content: space-between;">
                    <form action="/spots/delete/<%= spot._id %>?_method=delete" method="post" style="width:auto;"><button
                            class="btn-default">Supprimé</button></form>
                    <form action="/spots/update/<%= spot._id %>?" method="get" style="width:auto;"><button
                            class="btn-default">Modifié</button></form>
                    <form action="/spots/<%= spot._id %>" method="get" style="width:auto;"><button
                            class="btn-default">Information</button></form>
                </div>
            </div>
        </div>
        <hr width="75%" style="height:1px;border-width:1px;border-color:aliceblue;" />
        <% }) %>
    </div>
</div>